/*@media (min-width: 500px) {*/
/*    body {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/

/*    header > img {*/
/*        width: 350px;*/
/*        height: fit-content;*/
/*    }*/

/*    #login {*/
/*        font-size: 45px;*/
/*        width: 80%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        margin-top: 230px;*/
/*    }*/

/*    #login > label,*/
/*    #login > input,*/
/*    #login > div {*/
/*        margin-top: 30px;*/
/*    }*/

/*    #login > div {*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*    }*/

/*    #login > div > input:first-child {*/
/*        width: 100%;*/
/*        font-size: 30px;*/
/*    }*/

/*    .blank {*/
/*        border-color: lightgray;*/
/*        height: 90px;*/
/*    }*/

/*    button {*/
/*        background-color: lemonchiffon;*/
/*        border: none;*/
/*        font-size: 40px;*/
/*        border-radius: 30px;*/
/*        height: 150px;*/
/*    }*/

/*    a {*/
/*        font-size:30px;*/
/*        color: black;*/

/*        align-items: center;*/
/*    }*/
/*}*/

/* LoginStyle.css */
/*@media (max-width: 80px) {*/
/*    body {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/

/*    header img {*/
/*        width: 10%;*/
/*        height: 10%;*/
/*    }*/

/*    #login {*/
/*        font-size: 45px;*/
/*        width: 50%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        margin-top: 50px;*/
/*    }*/

/*    #login label,*/
/*    #login input,*/
/*    #login div {*/
/*        margin-top: 30px;*/
/*    }*/

/*    #login div {*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*    }*/

/*    #login div input:first-child {*/
/*        width: 50%;*/
/*        font-size: 10px;*/
/*    }*/

/*    .blank {*/
/*        border-color: lightgray;*/
/*        height: 50px;*/
/*    }*/

/*    button {*/
/*        background-color: lemonchiffon;*/
/*        border: none;*/
/*        font-size: 40px;*/
/*        border-radius: 30px;*/
/*        height: 70px;*/
/*        cursor: pointer;*/
/*    }*/

/*    a {*/
/*        font-size: 30px;*/
/*        color: black;*/
/*        margin-top: 20px;*/
/*        text-decoration: none;*/
/*    }*/
/*}*/

/* 작은 화면 (모바일) */
@media (max-width: 360px) {
    body {
        font-size: 10px;
        /*align-items: center;*/
    }

    div form {
        align-content: center;
    }
    header > img {
        width: 100%;
        max-width: 150px;
        height: auto;
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /*아이디, 비밀번호 글자*/
    #login {
        font-size: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 3px;
    }

    #login label,
    #login input,
    #login div {
        margin-top: 15px;
        height: 10%;

    }

    #login div {
        display: flex;
        justify-content: space-between;

    }

    /*아이디, 비밀번호 입력창 크기 및 설정*/
    #login div input:first-child {
        width: 100%;
        height: 5%;
        font-size: 20px;
        margin-top: auto;
    }


    #login div .blank {
        border: 1px solid lightgray;
        height: 5%;
        width: 100%;
        padding: 3px;
        font-size: 5px;

    }

    #login div .blank:active {
        background-color: lightgray;
        cursor: pointer;
    }

    /*로그인 버튼은 NewPassword.css에서 변경해야함.. -> 원인 찾는중*/
    .button[type="submit"] {
        background-color: lemonchiffon !important; /* 배경색 적용을 보장하기 위해 !important 추가 */
        border: none;
        font-size: 20px;
        border-radius: 15px;
        height: 50px;
        cursor: pointer;
        width: 100%;

        margin-left: auto;
        margin-right: auto;

    }

    /*아이디 찾기, 비밀번호 재설정, 회원가입 (로그인 버튼 하단)*/
    div > a {
        font-size: 13px;
        color: black;
        margin-top: 10px;
        text-decoration: none;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
}
