@media (max-width: 360px) {
    input::placeholder {
        font-size: 16px;
    }

    body {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    header > img {
        width: 100%;
        max-width: 150px;
        height: auto;
        object-fit: contain;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    #registerMenu {
        font-size: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    #registerMenu > label,
    #registerMenu > input,
    #registerMenu > div {
        margin-top: 10px;
        height: 10%;
    }

    #registerMenu > div > select {
        display: flex;
        justify-content: space-between;
        height: 40px;
    }

    #registerMenu > div {
        display: flex;
        justify-content: space-between;
    }

    #registerMenu > div > input {
        width: 70%;
        font-size: 16px;
    }

    .blank {
        /*border-color: lightgray;*/
        height: 40px;
        margin-left: 5px;
        margin-right: 10px;

        vertical-align: middle;
    }

    div > img {
        width: 50px;
        margin-top: 10px;
        margin-left: 0;
    }

    /*.button {*/

    /*    border: none;*/
    /*    font-size: 20px;*/
    /*    border-radius: 10px;*/
    /*    height: 50px;*/
    /*    margin-left: 0;*/
    /*}*/
    button {
        /*background-color: red;*/ /* + 버튼 색깔이 바뀌어요...............*/
        background-color: transparent; /* 배경색을 완전히 투명하게 설정 */
        border: none;
        font-size: 18px;
        border-radius: 15px;
        height: 50px;
        cursor: pointer;
        width: 100%;
    }
    a {
        font-size: 20px;
        color: black;
        align-items: center;
    }

    select {
        font-size: 15px;
        width: 100%;
        height: auto;
        margin-left: 5px;
    }

    select > option {
        font-size: 12px;
    }

    button > img {
        background-color: white;
        width: 50px;
        height: auto;
    }

    #inputContainer {
        display: flex;
        flex-wrap: wrap;
    }

    #inputContainer > input {
        margin-right: 10px;
        margin-bottom: 10px;
        /*justify-content: space-between;*/
        /*width: calc(50% - 10px);*/
    }
}
